<div class="hero_area">

  <div class="hero_bg_box">
    <img src="../../assets/photos/hero-bg.png" alt="">
  </div>

  <!-- header section strats -->
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    We Provide Best Healthcare
                  </h1>
                  <p>
                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                    aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus
                    repellat modi impedit sequi.
                  </p>
                  <div class="btn-box">
                    <a  class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    We Provide Best Healthcare
                  </h1>
                  <p>
                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                    aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus
                    repellat modi impedit sequi.
                  </p>
                  <div class="btn-box">
                    <a  class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7">
                <div class="detail-box">
                  <h1>
                    We Provide Best Healthcare
                  </h1>
                  <p>
                    Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                    aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus
                    repellat modi impedit sequi.
                  </p>
                  <div class="btn-box">
                    <a  class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
  <!-- end slider section -->
</div>

<div class="container mt-5"  >
  <ul class="nav nav-tabs" id="myTab" role="tablist" >
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" style="color: #62d2a2 !important;"
        aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab"style="color: #62d2a2 !important;"
        aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab"style="color: #62d2a2 !important;"
        aria-controls="contact" aria-selected="false">Contact</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Placeholder content for
      the tab panel. This one relates to the profile tab. You got the finest architecture. Passport stamps, she's
      cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your
      heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved
      ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Placeholder content for the tab
      panel. This one relates to the profile tab. You got the finest architecture. Passport stamps, she's cosmopolitan.
      Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your
      kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a
      journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Placeholder content for the tab
      panel. This one relates to the profile tab. You got the finest architecture. Passport stamps, she's cosmopolitan.
      Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your
      kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a
      journey. Just own the night like the 4th of July! But you'd rather get wasted.</div>
  </div>

</div>
<!-- department section -->

<section class="department_section layout_padding">
  <div class="department_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Our Departments
        </h2>
        <p>
          Asperiores sunt consectetur impedit nulla molestiae delectus repellat laborum dolores doloremque accusantium
        </p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="../../assets/photos/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Cardiology
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="../../assets/photos/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Diagnosis
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="../../assets/photos/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Surgery
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box ">
            <div class="img-box">
              <img src="../../assets/photos/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                First Aid
              </h5>
              <p>
                fact that a reader will be distracted by the readable page when looking at its layout.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a >
          View All
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end department section -->

<!-- about section -->

<section class="about_section layout_margin-bottom">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../assets/photos/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About <span>Us</span>
            </h2>
          </div>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you
            are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
            the middle of text. All
          </p>
          <a  >
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- doctor section -->

<section class="doctor_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Doctors
      </h2>
      <p class="col-md-10 mx-auto px-0">
        Incilint sapiente illo quo praesentium officiis laudantium nostrum, ad adipisci cupiditate sit, quisquam
        aliquid. Officiis laudantium fuga ad voluptas aspernatur error fugiat quos facilis saepe quas fugit, beatae id
        quisquam.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/photos/d1.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a  >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Elina Josh
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/photos/d2.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a  >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Adam View
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/photos/d3.jpg" alt="">
          </div>
          <div class="detail-box">
            <div class="social_box">
              <a  >
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a  >
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
            <h5>
              Mia Mike
            </h5>
            <h6 class="">
              Doctor
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a  >
        View All
      </a>
    </div>
  </div>
</section>

<!-- end doctor section -->

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Get In Touch
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container contact-form">
          <form action="">
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Your Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Phone Number" />
                </div>
              </div>
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

<!-- client section -->

<!-- end client section -->


<!-- footer section -->

<!-- footer section -->
